body {
    background-color: rgb(255, 128, 0);
    margin-left: 80px;
    margin-right: 80px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  


#king {
    font-size: 100px;
    text-align: center;
    position: relative;
    animation-delay: 2s;
    animation-name: king;
    animation-duration: 2s;
}

@keyframes king {
from {top: 0px; left: 60px; color: rgb(255, 255, 255);}
to {top: 100%; left:60px; color: rgb(0, 0, 0);}
}

#queen {
    font-size: 100px;
    position: relative;
    animation-name: queen;
    animation-duration: 4s;
}

@keyframes queen {
    0%   {color:#000000; left:0px; top:0px;}
    25%  {color:#ffffff; left:50px; top:0px;}
    50%  {color:#000000; left:50px; top:50px;}
    75%  {color:#ffffff; left:0px; top:50px;}
    100% {color:#000000; left:0px; top:0px;}
  }

#rook {
    font-size: 100px;
    position: relative;
    animation-name: rook;
    animation-duration: 4s;
}

@keyframes rook {
    0%   {color:#000000; left:0px; top:0px;}
    25%  {color:#ffffff; left:60px; top:0px;}
    50%  {color:#000000; left:60px; top:60px;}
    75%  {color:#ffffff; left:0px; top:60px;}
    100% {color:#000000; left:0px; top:0px;}
  }


#bishop {
    font-size: 100px;
    position: relative;
    animation-name: bishop;
    animation-duration: 4s;
}

@keyframes bishop {
    0%   {color:#000000; left:0px; top:0px;}
    25%  {color:#ffffff; left:70px; top:0px;}
    50%  {color:#000000; left:70px; top:70px;}
    75%  {color:#ffffff; left:0px; top:70px;}
    100% {color:#000000; left:0px; top:0px;}
  }


#knight {
    font-size: 100px;
    position: relative;
    animation-name: knight;
    animation-duration: 4s;
}

@keyframes knight {
    0%   {color:#000000; left:0px; top:0px;}
    25%  {color:#ffffff; left:80px; top:0px;}
    50%  {color:#000000; left:80px; top:80px;}
    75%  {color:#ffffff; left:0px; top:80px;}
    100% {color:#000000; left:0px; top:0px;}
  }

#pawn {
    font-size: 100px;
    position: relative;
    animation-name: pawn;
    animation-duration: 4s;
}

@keyframes pawn {
    0%   {color:#000000; left:0px; top:0px;}
    25%  {color:#ffffff; left:100px; top:0px;}
    50%  {color:#000000; left:100px; top:100px;}
    75%  {color:#ffffff; left:0px; top:100px;}
    100% {color:#000000; left:0px; top:0px;}
}



/* split */


#bking {
    font-size: 100px;
    text-align: center;
    position: relative;
    animation-delay: 2s;
    animation-name: bking;
    animation-duration: 2s;
}

@keyframes bking {
    from {top: 0px; right: 60px; color: rgb(255, 255, 255);}
    to {top: 100%; right:60px; color:rgb(0, 0, 0);}
    }    


#bqueen {
    font-size: 100px;
    position: relative;
    text-align: right;
    animation-name: bqueen;
    animation-duration: 4s;
}

@keyframes bqueen {
    0%   {color:#000000; right:0px; top:0px;}
    25%  {color:#ffffff; right:50px; top:0px;}
    50%  {color:#000000; right:50px; top:50px;}
    75%  {color:#ffffff; right:0px; top:50px;}
    100% {color:#000000; right:0px; top:0px;}
  }

#brook {
    font-size: 100px;
    position: relative;
    text-align: right;
    animation-name: brook;
    animation-duration: 4s;
}

@keyframes brook {
    0%   {color:#000000; right:0px; top:0px;}
    25%  {color:#ffffff; right:60px; top:0px;}
    50%  {color:#000000; right:60px; top:60px;}
    75%  {color:#ffffff; right:0px; top:60px;}
    100% {color:#000000; right:0px; top:0px;}
  }


#bbishop {
    font-size: 100px;
    position: relative;
    text-align: right;
    animation-name: bbishop;
    animation-duration: 4s;
}

@keyframes bbishop {
    0%   {color:#000000; right:0px; top:0px;}
    25%  {color:#ffffff; right:70px; top:0px;}
    50%  {color:#000000; right:70px; top:70px;}
    75%  {color:#ffffff; right:0px; top:70px;}
    100% {color:#000000; right:0px; top:0px;}
  }


#bknight {
    font-size: 100px;
    position: relative;
    text-align: right;
    animation-name: bknight;
    animation-duration: 4s;
}

@keyframes bknight {
    0%   {color:#000000; right:0px; top:0px;}
    25%  {color:#ffffff; right:80px; top:0px;}
    50%  {color:#000000; right:80px; top:80px;}
    75%  {color:#ffffff; right:0px; top:80px;}
    100% {color:#000000; right:0px; top:0px;}
  }

#bpawn {
    font-size: 100px;
    position: relative;
    text-align: right;
    animation-name: bpawn;
    animation-duration: 4s;
}

@keyframes bpawn {
    0%   {color:#000000; right:0px; top:0px;}
    25%  {color:#ffffff; right:100px; top:0px;}
    50%  {color:#000000; right:100px; top:100px;}
    75%  {color:#ffffff; right:0px; top:100px;}
    100% {color:#000000; right:0px; top:0px;}
}

