
html, body {
margin:0px;
padding:0px;
height:100%;
}
html {
font-size: 1em;
line-height: 1.4em;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(0, 0, 0);
    color: #f0f8ff;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(1, 1, 47);
}

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.8em;
    background-color: rgb(1, 1, 47);
}
#container {
    margin: auto;
    margin-top: 50px;
    width: 800px;
    border: 1px solid rgb(255, 255, 255);
    padding: 30px;
}
