html, body {
	margin:0px;
	padding:0px;
    background: linear-gradient(0deg, rgb(69, 4, 4) 0%, rgb(184, 21, 57) 100%);
}

header, main, footer {
    color: rgb(184, 21, 57) ;
    margin-left: 50px;
}

header, footer {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px 10px 20px rgb(140, 17, 44);
}

header {
    opacity: 0.5;
}

header:hover {
    opacity: 1.0;
}

main {
    font-family: 'Croissant One', serif;
}

main h1 {
    font-size: 150px;
    text-shadow: 10px 10px 20px rgb(140, 17, 44);
    rotate: y -180deg;
    margin: 50px;
    opacity: 0.1;
}

h1:hover {
    opacity: 1.0;
}

main h2 {
    font-size: 60px;
    text-align: center;
    opacity: 0.3;
}

h2:hover {
    opacity: 1.0;
}

main p {
    font-size: 150px;
    margin: 50px;
    opacity: 0.5;
}

p:hover {
    opacity: 1.0;
}