/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
    background-color: #381d2a;
}


#container {
	margin: 20px;
    padding: 10px;
}

#ah, #oh {
    border: 5px solid #c4d6b0;
    border-top: 5px dotted #c4d6b0;
    border-radius: 10px;
    padding-top: 20px;
    padding: 10px;
}

#author p {
    text-align: center;
}

p{
    font-family: 'Prata', serif;
    font-size: 15px;
    color: #c4d6b0;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #c4d6b0;
}



/* 
MEDIA QUERIES! */

/* Min width for laptops*/
@media all and (min-width:796px) {

    body {
        background-color: #c4d6b0;
    }

    #container {
        width: 725px;
        margin: auto;
    }

    #author {
        float:left;
        width: 45%;
    }

    #me {
        float: right;
        width: 45%;
    }

    h1, p{ 
       color:#381d2a; 
    }

    h1 {
        font-size: 23px;
    }

    p {
        font-size: 12px;
    }

    #ah, #oh {
        border: 5px solid #381d2a;
    }


}

/*Min width for desktop screens*/
@media all and (min-width:1024px) {
    
    body {
        background-color: #381d2a;
    }

    #container {
        width:1000px;
    }

    h1, p{ 
        color:#c4d6b0; 
     }
 
 
     #ah, #oh {
        border: 5px solid #c4d6b0;
     }
}






/*
#container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

body {
    background-color: #381d2a;
}

*/